<br/>
<div class="jumbotron">
  <p class="text-primary" style="font-size:400%"><strong>EduKazoo</strong></p>
    <p class="lead text-primary"><em>EduKazoo is a resource for finding study groups!</em></p>
    <% if !current_user%>
      <p class="text-primary">
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
      </p>
    <% end %>
</div>

<div class="row">
  
  <div class="col-md-4">
    <h2>Find</h2>
    <p>Something about finding stuff goes here</p>
  </div>

  <div class="col-md-4">
    <h2>Connect</h2>
    <p>Something about connecting to stuff goes here</p>
  </div>

  <div class="col-md-4">
    <h2>Study</h2>
    <p>Something about getting to work goes here</p>
  </div>
</div>